package com.ywesee.amiko.hinclient;

public class HINClientCredentials {
    public static final String HIN_CLIENT_ID = "YOUR_HIN_CLIENT_ID";
    public static final String HIN_CLIENT_SECRET = "YOUR_HIN_CLIENT_SECRET";
    public static final String CERTIFACTION_SERVER = "YOUR_CERTIFACTION_SERVER";
    public static final String CERTIFACTION_TEST_SERVER = "YOUR_CERTIFACTION_TEST_SERVER";
}
